@import "susy";
@import "compass";

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
$white: #fff;
$bodyBg: #ccc;
$grey: #666;
$dark_grey: #666;
$red: #fb052c;
$applicationWidth: 775px;
$newsColor: #0a4d94;

html, body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: verdana, arial, tahoma, sans-serif;
    color: $grey;
    @include background-image(linear-gradient(left, white, #ccc));

    article, header, footer {
        clear: both;
    }

    .ui-dialog {
        font-size: 0.8em;
    }

    .launcher {
        text-decoration: none;
        border: none;
    }

    header {
        height: 1.5em;
        max-height: 1.5em;
        padding: 0.2em 0.2em 0 0;
        text-align: right;
        a {
            text-decoration: none;
            color: $grey;
            &:active, &:hover, &:link {
                text-decoration: none;
                color: $grey;
            }
        }
    }

    article {
        padding: 0 1.9em 0 1.8em;
        width: $applicationWidth;
        max-width: $applicationWidth;
        margin: 0 auto;
        .left-column {
            @include span-columns(6, $total-columns);
            padding-top: 0;
            text-align: center;

            .content {
                margin-right: 1.2em;
                h1 {
                    color: $red;
                    font-size: 2.25em;
                    margin: 0.1em 0 0 0;
                }
                h2 {
                    margin: 1em 0 0 0;
                    font-size: 0.65em;
                }
            }
        }

        .right-column {
            @include span-columns(6 omega, $total-columns);
            padding-top: 1.5em;
            .greeting {
                text-align: right;
                .common {
                    font-size: 0.8em;
                }
                .user {
                    font-size: 1.55em;
                    text-transform: uppercase;
                }
            }

            .launch-buttons {

                margin: 1em 0;

                .big-launch-button {
                    text-align: center;
                    @include span-columns(3 omega, 3);
                }

                .small-launch-button {
                    margin-top: 0.5em;
                    text-align: center;
                    @include span-columns(1, 3);

                    &.last {
                        @include span-columns(1 omega, 3);
                    }
                }
            }
        }

        .news-widget {
            @include span-columns($total-columns omega, $total-columns);
            margin-top: 0.5em;
            .news-header {
                .tab {
                    display: inline-block;
                    background: $white;
                    padding: 0.4em;
                    margin-left: 1.5em;
                    @include border-top-left-radius(0.5em);
                    @include border-top-right-radius(0.5em);
                    a {
                        text-decoration: none;
                        color: $red;
                        &:link, &:visited, &:hover {
                            text-decoration: none;
                            color: $red;
                        }
                    }
                }
            }

            .news-container {
                background: $white;
                padding: 1em 0.7em;
                @include border-radius(0.5em);

                .news-header {
                    background: $bodyBg;
                    border: 1px solid $dark_grey;
                    padding: 0.2em 1em;
                    font-size: 0.9em;
                }

                .news-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    background: $white;
                    font-size: 0.9em;

                    li {
                        list-style: none;
                        margin: 0;
                        padding: 0.7em 0 0.7em 1em;
                        border: 1px solid $dark_grey;
                        border-top: none;
                        .time {
                            display: inline-block;
                            width: 15%;
                        }

                        .text {
                            display: inline-block;
                            width: 75%;
                            color: $newsColor;
                            font-weight: bold;
                            a {
                                text-decoration: none;
                                color: $newsColor;
                                &:link, &:visited, &:hover {
                                    text-decoration: none;
                                    color: $newsColor;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 0;
        width: $applicationWidth;
        max-width: $applicationWidth;
        margin: 0.5em auto 0;

        .support {
            width: 100%;
            text-align: center;
            a {
                display: inline-block;
                margin-top: 0.5em;
                background: $dark_grey;
                @include border-radius(0.5em, 0.5em);
                color: $white;
                text-decoration: none;
                padding: 0.4em;
                font-size: 0.9em;
            }
        }
    }

    .close-dialog {
        display: none;
    }

    .no-close {
        .ui-dialog-titlebar-close {
            display: none;
        }
    }
}